body {
	background-color: lavender;
}

.pixel {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: black;
	border: 1px solid lavender;
	visibility: inherit;
}

.white-pixel {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: white;
	border: 1px solid lavender;
	visibility: inherit;
}

.row {
	display: flex;
	visibilty: inherit;
}

.invisible-board {
	visibility: collapse;
}