<!DOCTYPE html>
<html lang ="en-US">
<head>
	<link rel="stylesheet" type="text/css" href={{ url_for("static", filename="style.css")}}>
	<title>PixelAnimator</title>
</head>
<body>

	<div id="canvas-container">
		<canvas id="board-canvas" height="200px" width="200px"></canvas>
	</div>

	<button id="submit-button">Submit</button>

	<label for="current-frame">Current Frame:</label>

	<input 
		type="number" 
		id="current-frame" 
		name="current-frame" 
		min ="1" 
		max="10" 
		value="1" />

	<label for="frame-total">Total Number of Frames:</label>
	
	<input 
		type="number"
		id="frame-total"
		name="frame-total"
		min="1"
		max="64"
		value="1" />

	<label for="delay">Delay:</label>
	<input 
		type="number" 
		name="delay"
		id="delay"
		min="1"
		max="2000"
		value="40" />

	<input 
		type="color"
		id="color-select"
		name="color-select" />
	<label for="color-select">Color</label>

	<div>
		<button id="draw-button" disabled="true">Draw</button>
		<button id="erase-button">Erase</button>
	</div>
	
	<div>
		<button id="prev-frame" disabled="true"><< Prev</button>
		<button id="next-frame">Next >></button>
	</div>

	<div>
		<button id="prev-copy" disabled="true"><< Copy Prev</button>
		<button id="next-copy">Copy Next >></button>
	</div>

	<div>
		<button id="start-animation">Animate</button>
		<button id="stop-animation" disabled="true">Stop</button>

	<script src={{ url_for("static", filename="app.js") }}></script>

</body>
</html>